<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medi.backend.youtube.mapper.ChannelMapper">

    <select id="getChannelsByUserId" 
            resultType="com.medi.backend.youtube.dto.YoutubeChannelDto"
            parameterType="int">
        SELECT
            id, user_id, oauth_token_id, 
            youtube_channel_id, channel_name, channel_handle, thumbnail_url, 
            subscriber_count, last_synced_at, last_video_published_at, uploads_playlist_id,
            created_at, updated_at, deleted_at
        FROM youtube_channels
        WHERE user_id = #{userId}
        AND (deleted_at IS NULL)
    </select>

    <select id="getOneChannelByIdAndUserId" 
            resultType="com.medi.backend.youtube.dto.YoutubeChannelDto">
        SELECT
            id, user_id, oauth_token_id, 
            youtube_channel_id, channel_name, channel_handle, thumbnail_url, 
            subscriber_count, last_synced_at, last_video_published_at, uploads_playlist_id,
            created_at, updated_at, deleted_at
        FROM youtube_channels
        WHERE 
            id = #{id} AND 
            user_id = #{userId}
            AND (deleted_at IS NULL)
    </select>


    <select id="getAllChannelsForAdmin" 
            resultType="com.medi.backend.youtube.dto.YoutubeChannelDto">
        SELECT
            id, user_id, oauth_token_id, 
            youtube_channel_id, channel_name, channel_handle, thumbnail_url, 
            subscriber_count, last_synced_at, last_video_published_at, uploads_playlist_id,
            created_at, updated_at, deleted_at
        FROM youtube_channels
        WHERE (deleted_at IS NULL)
    </select>






    <update id="deleteChannelById">
        UPDATE youtube_channels
        SET deleted_at = NOW()
        WHERE 
            id = #{id} AND
            user_id = #{userId}
            AND (deleted_at IS NULL)
    </update>







</mapper>